[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "~=3.1.1"
pillow = "==7.2.0"
django-crispy-forms = "*"

[requires]
python_version = "3.8"
