{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}

<main id="about">
  <h1 class="lg-heading">About <span class="text-secondary">Me</span></h1>
  <h2 class="sm-heading">Highlight Experience in the Industry</h2>
  <div class="about-info">
    <img src="../static/img/portrait.jpg" alt="John Does" class="bio-image" />

    <div class="bio">
      <h3 class="text-secondary">BIO</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus cum
        eveniet cupiditate asperiores quibusdam animi eligendi voluptates
        distinctio nemo corporis magni sit quidem nihil a alias laudantium iste,
        odio ad.
      </p>
    </div>

    <div class="job job-1">
      <h3>Application Inc</h3>
      <h6>Full Stack Developer</h6>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam ex,
        nisi illum autem accusamus omnis odit a? Iusto perspiciatis recusandae
        inventore beatae voluptatibus nobis culpa? Tenetur illum ducimus dolores
        neque?
      </p>
    </div>

    <div class="job job-2">
      <h3>Software Solution</h3>
      <h6>Front End Developer</h6>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam ex,
        nisi illum autem accusamus omnis odit a? Iusto perspiciatis recusandae
        inventore beatae voluptatibus nobis culpa? Tenetur illum ducimus dolores
        neque?
      </p>
    </div>

    <div class="job job-3">
      <h3>Grow Digital</h3>
      <h6>Web Designer</h6>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam ex,
        nisi illum autem accusamus omnis odit a? Iusto perspiciatis recusandae
        inventore beatae voluptatibus nobis culpa? Tenetur illum ducimus dolores
        neque?
      </p>
    </div>
  </div>
</main>
{% endblock content %}

{% block footer %}
<footer id="main-footer">Copyright &copy; 2021</footer>
{% endblock footer %}
