{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}

{% block content %}
  <header>
    <div class="menu-btn">
      <div class="btn-line"></div>
      <div class="btn-line"></div>
      <div class="btn-line"></div>
    </div>

    <nav class="menu">
        <div class="menu-branding">
            <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
            <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
                Home
            </a>
            </li>
            <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link">
                About Me
            </a>
            </li>
            <li class="nav-item">
            <a href="{% url 'portfolio' %}" class="nav-link">
                My Work
            </a>
            </li>
            <li class="nav-item current">
            <a href="{% url 'blog' %}" class="nav-link">
                Blog
            </a>
            </li>
            <li class="nav-item">
            <a href="{% url 'contact' %}" class="nav-link">
                How To Reach Me
            </a>
            </li>
        </ul>
    </nav>
  </header>

  <main id="blog">
    <h1 class="lg-heading">
      <span class="text-secondary">{{ category | title}}</span>
    </h1>
    <h2 class="sm-heading">
      My articles by category
    </h2>
    <div class="posts">
      {% for post in posts %}
      <div class="post-list">
        <h2><a href="{% url 'blog' %}" class="text-secondary">{{ post.title }}</a></h2>
        <small>
          {{ post.author }} |&nbsp;
          {{ post.created_on.date }} |&nbsp;
          Categories:&nbsp;
          {% for category in post.categories.all %}
              <a href="{% url 'blog_category' category.name %}">{{ category.name }},</a>
          {% endfor %}
        </small>
        <p>{{ post.body| slice:':400' }}</p>
      </div>
      {% endfor %}
    </div>
    <div>
      <!-- Adding paginator to the blog page -->
      {% if posts.has_other_pages %}
        {% if posts.has_previous %}
          <a href="?page={{ posts.previous_page_number }}">&laquo; PREV </a>
        {% endif %}
        {% if posts.has_next %}
          <a href="?page={{ posts.next_page_number }}">NEXT &raquo;</a>
        {% endif %}
      {% endif %}
    </div>
  </main>
{% endblock content %}

{% block footer %}
  <footer id="main-footer">
    Copyright &copy; 2020
  </footer>
{% endblock footer %}