{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Blog{% endblock title %}

{% block content %}

  <main id="blog">
    <div class="blog-detail">
      <h1 class="md-heading">
        <a href="{% url 'blog' %}" class="text-secondary">{{ post.title }}</a>
      </h1>
      <small>
        {{ post.author }} |&nbsp;
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
          <a href="{% url 'blog_category' category.name %}">{{ category.name }},</a>
        {% endfor %}
      </small>
      <p>{{ post.body| linebreaks }}</p>
    </div>

    <div class="comment">
      <div>
        <!-- comments -->
        <h2 class="text-secondary">{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>

      <div>
        {% if new_comment %}
        <div class="text-secondary" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3 class="text-secondary">Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn-submit">Submit</button>
        </form>
        {% endif %}
      </div>

    </div>
  </main>
{% endblock content %}

{% block footer %}
  <footer id="main-footer">
    Copyright &copy; 2020
  </footer>
{% endblock footer %}