{% extends 'base.html' %}

{% block title %}Blog{% endblock title %}

{% block content %}

  <main id="blog">
    <h1 class="lg-heading">
      My <span class="text-secondary">blog</span>
    </h1>
    <h2 class="sm-heading">
      Check out some of my articles...
    </h2>
    <div class="posts">
      {% for post in posts %}
      <div class="post-list">
        <h2><a href="{% url 'blog_detail' post.pk %}" class="text-secondary">{{ post.title }}</a></h2>
        <small>
          {{ post.author }} |&nbsp;
          {{ post.created_on.date }} |&nbsp;
          Categories:&nbsp;
          {% for category in post.categories.all %}
              <a href="{% url 'blog_category' category.name %}">{{ category.name }},</a>
          {% endfor %}
        </small>
        <p>{{ post.body| slice:':400' }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="boxes">
      <!-- Adding paginator to the blog page -->
      {% if posts.has_other_pages %}
        {% if posts.has_previous %}
          <a class="btn-prev" href="?page={{ posts.previous_page_number }}">&laquo; PREV </a>
        {% endif %}
        {% if posts.has_next %}
          <a class="btn-next" href="?page={{ posts.next_page_number }}">NEXT &raquo;</a>
        {% endif %}
      {% endif %}
    </div>
  </main>
{% endblock content %}

{% block footer %}
  <footer id="main-footer">
    Copyright &copy; 2021
  </footer>
{% endblock footer %}