{% extends 'base.html' %}

{% block title %}Contact Me{% endblock %}

{% block content %}

  <main id="contact">
    <h1 class="lg-heading">
      Contact <span class="text-secondary">Me</span>
    </h1>
    <h2 class="sm-heading">
      This is how you can reach me...
    </h2>
    <div class="boxes">
      <div>
        <span class="text-secondary">Email:</span> hello@fromjd.com
      </div>
      <div>
        <span class="text-secondary">Phone:</span> (555) 555-5555
      </div>
      <div>
        <span class="text-secondary">Address:</span> 123 Major St. Toronto ON 212224
      </div>
    </div>
  </main>
{% endblock content %}

{% block footer %}
  <footer id="main-footer">
    Copyright &copy; 2021
  </footer>
{% endblock footer %}