{% extends 'base.html' %}

{% block content %}
<body id="bg-img">
  
  <main id="home">
    <h1 class="lg-heading">
      John <span class="text-secondary"> Does</span>
    </h1>
    <h2 class="sm-heading">
      Web Designer, Developer & Entrepreneur
    </h2>
    <div class="icons">
      <a href="#!">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
  </main>
</body>
{% endblock content %}