{% extends 'base.html' %}

{% block content %}
<body id="bg-img">
  <header>
    <div class="menu-btn">
      <div class="btn-line"></div>
      <div class="btn-line"></div>
      <div class="btn-line"></div>
    </div>

    <nav class="menu">
      <div class="menu-branding">
        <div class="portrait"></div>
      </div>
      <ul class="menu-nav">
        <li class="nav-item current">
          <a href="{% url 'home' %}" class="nav-link">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'about' %}" class="nav-link">
            About Me
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'portfolio' %}" class="nav-link">
            My Work
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'blog' %}" class="nav-link">
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'contact' %}" class="nav-link">
            How To Reach Me
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main id="home">
    <h1 class="lg-heading">
      John <span class="text-secondary"> Does</span>
    </h1>
    <h2 class="sm-heading">
      Web Designer, Developer & Entrepreneur
    </h2>
    <div class="icons">
      <a href="#!">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
  </main>
</body>
{% endblock content %}