{% extends 'base.html' %}

{% block title %}Portfolio{% endblock title %}

{% block content %}
  <header>
    <div class="menu-btn">
      <div class="btn-line"></div>
      <div class="btn-line"></div>
      <div class="btn-line"></div>
    </div>

    <nav class="menu">
        <div class="menu-branding">
            <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
            <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
                Home
            </a>
            </li>
            <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link">
                About Me
            </a>
            </li>
            <li class="nav-item current">
            <a href="{% url 'portfolio' %}" class="nav-link">
                My Work
            </a>
            </li>
            <li class="nav-item">
            <a href="{% url 'blog' %}" class="nav-link">
                Blog
            </a>
            </li>
            <li class="nav-item">
            <a href="{% url 'contact' %}" class="nav-link">
                How To Reach Me
            </a>
            </li>
        </ul>
    </nav>
  </header>

  <main id="work">
    <h1 class="lg-heading">
      My <span class="text-secondary">work</span>
    </h1>
    <h2 class="sm-heading">
      Check out some of my projects...
    </h2>
    <div class="projects">
      {% for project in projects %}
      <div class="item">
        <a href="{% url 'project_detail' project.pk %}">
          <img src="{{ project.image.url }}" alt="{{ project.title }}">
        </a>
        <a href="{% url 'project_detail' project.pk %}" class="btn-light">
          <i class="fas fa-info"></i> {{ project.title }}
        </a>
        <a href="{% url 'project_detail' project.pk %}" class="btn-dark">
          <i class="fas fa-layer-group"></i> {{ project.technology }}
        </a>
      </div>
      {% endfor %}
    </div>
    <div>
      <!-- Adding a paginator to the portfolio page -->
      {% if projects.has_other_pages %}
        {% if projects.has_previous %}
        <a href="?page={{ projects.previous_page_number }}">&laquo; PREV </a>
        {% endif %}
        {% if projects.has_next %}
        <a href="?page={{ projects.next_page_number }}"> NEXT &raquo;</a>
        {% endif %}
      {% endif %}
    </div>
  </main>
{% endblock content %}

{% block footer %}
  <footer id="main-footer">
    Copyright &copy; 2020
  </footer>
{% endblock footer %}