{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock title %}

{% block content %}

  <main id="work">
    <h1 class="lg-heading">
      <span class="text-secondary">{{ category | title}}</span>
    </h1>
    <h2 class="sm-heading">
      My {{ category | title}} Projects
    </h2>
    <div class="projects">
      {% for project in projects %}
      <div class="item">
        <a href="{% url 'project_detail' project.pk %}">
          <img src="{{ project.image.url }}" alt="{{ project.title }}">
        </a>
        <a href="{% url 'project_detail' project.pk %}" class="btn-light">
          <i class="fas fa-info"></i> {{ project.title }}
        </a>
        <a href="{% url 'project_detail' project.pk %}" class="btn-dark">
          <i class="fas fa-layer-group"></i> {{ project.technology }}
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="boxes">
      <!-- Adding a paginator to the project category page -->
      {% if projects.has_other_pages %}
        {% if projects.has_previous %}
        <a class="btn-prev" href="?page={{ projects.previous_page_number }}">&laquo; PREV </a>
        {% endif %}
        {% if projects.has_next %}
        <a class="btn-next" href="?page={{ projects.next_page_number }}"> NEXT &raquo;</a>
        {% endif %}
      {% endif %}
    </div>
  </main>
{% endblock content %}

{% block footer %}
  <footer id="main-footer">
    Copyright &copy; 2020
  </footer>
{% endblock footer %}