{% extends 'base.html' %}

{% block title %}{{ project.title }}{% endblock title %}

{% block content %}
  <header>
    <div class="menu-btn">
      <div class="btn-line"></div>
      <div class="btn-line"></div>
      <div class="btn-line"></div>
    </div>

    <nav class="menu">
        <div class="menu-branding">
            <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
            <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
                Home
            </a>
            </li>
            <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link">
                About Me
            </a>
            </li>
            <li class="nav-item current">
            <a href="{% url 'portfolio' %}" class="nav-link">
                My Work
            </a>
            </li>
            <li class="nav-item">
            <a href="#" class="nav-link">
                Blog
            </a>
            </li>
            <li class="nav-item">
            <a href="{% url 'contact' %}" class="nav-link">
                How To Reach Me
            </a>
            </li>
        </ul>
    </nav>
  </header>

  <main id="work">
      <h1 class="lg-heading">
        <span class="text-secondary">{{ project.title }}</span>
      </h1>
      <h2 class="sm-heading">
        Let me tell you about this project...
      </h2>
      <div class="projects about-info">
        <img src="{{ project.image.url }}" alt="{{ project.title }}">
  
        <div class="job work">
          <h3 class="text-secondary">Description</h3>
          <div>
            <span class="text-secondary">Client:</span> {{ project.client }} | 
            <span class="text-secondary">Technology:</span> {{ project.technology }}
          </div>

          <div>
            <span class="text-secondary">Project Date:</span> {{ project.project_date }} | 
            <span class="text-secondary">Categories:</span> 
            {% for category in project.categories.all %} 
              {{ category.name }} 
            {% endfor %}
          </div>
          <p>{{ project.description }}</p>
        </div>
      </div>
    </main>
{% endblock content %}

{% block footer %}
  <footer id="main-footer">
    Copyright &copy; 2020
  </footer>
{% endblock footer %}